<div ng-controller = "clientsController as cc">
	<title>MercStyles</title>
</head>
<body>
	<div id="main-index">
		
		<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="#/signup">Sign Up</a></li>
					<li><a href="#/login">Log In</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
			<img class="col-md-6 top-margin" src="./images/merc_logo.png" alt="logo">
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
	<section>
			<div class="container-fluid">
				<img class="col-md-4" src="https://placehold.it/300/" alt="Stock photo" style="padding: 0px">
				<img class="col-md-4" src="https://placehold.it/300/" alt="Stock photo" style="padding: 0px">
				<img class="col-md-4" src="https://placehold.it/300/" alt="Stock photo" style="padding: 0px">
			</div>
	</section>
</body>
</div>