* {
	/*outline: 1px red dotted !important;*/
}

#main-index {
	background-image: url("../images/merc_main.png");
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
}

.white {
	color: white;
}
.top-margin {
	margin-top: 10px
}
.rem-padding{
	padding: 0px;
}